p {
    background-color: lightblue;
}

li {
    color:darkblue;
}

h3 {
    font-style:italic;
}

img {
    opacity: 0.8;
    border-radius: 50%;
}

.avatar {
    width:200px;
}

div {
    color: green;
    size: 24px;
    background-color: aqua;
    font-size: x-large;
    opacity: 0.5;
    border-radius: 10px;
    ea-inset-top;
    large;
}

.bigFont:hover {
    font-size: 36px;
    color: red;
    background-color: lightblue;
}

#backgroundRed { 
    background-color: Red;

}

#address{
    height:200px
}

.fix-Width{
    width:200px
}